<div class="homelayout">
<div fxLayout="row" fxLayoutWrap="wrap">
	<div fxFlex.gt-sm="33" fxFlex.gt-xs="33" fxFlex="33" >
		<mat-card class="card-widget mat-purple" style="background: purple;">
		  <div mat-card-widget>
			<div mat-card-float-icon>
			  <mat-icon>notifications</mat-icon>
			</div>
			<div class="pl-0">
			  <h2 mat-card-widget-title>60</h2>
			  <p>Activities</p>
			</div>
		  </div>
		</mat-card>
	  </div>
	  <div fxFlex.gt-sm="33" fxFlex.gt-xs="33" fxFlex="33" >
		<mat-card class="card-widget mat-cyan" style="background: cyan;">
		  <div mat-card-widget>
			<div mat-card-float-icon>
			  <mat-icon>local_offer</mat-icon>
			</div>
			<div class="pl-0">
			  <h2 mat-card-widget-title>150</h2>
			  <p>Staff</p>
			</div>
		  </div>
		</mat-card>
		</div>
		
	  <div fxFlex.gt-sm="33" fxFlex.gt-xs="33" fxFlex="33">
		<mat-card class="card-widget mat-teal" style="background: teal;">
		  <div mat-card-widget>
			<div mat-card-float-icon>
			  <mat-icon>local_offer</mat-icon>
			</div>
			<div class="pl-0">
			  <h2 mat-card-widget-title>250</h2>
			  <p>Student</p>
			</div>
		  </div>
		</mat-card>
		</div>
</div>
</div>
