<style>
	.mat-mdc-list-item-icon {
  color: rgba(0, 0, 0, 0.54);
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.listborder{

    border-bottom-color: deepskyblue;
    border-left: groove;
    border-left-color: deepskyblue;
    border-top: groove;
    border-top-color: tan;
    border-right: groove;
    border-right-color: deepskyblue;
	border-bottom-style: dotted;
}
.example-tab-icon {
  margin-right: 8px;
}

</style>
<body>
<div fxFlex.gt-sm="100%" fxFlex="100" class="page-container"  >
    <mat-card style="background: inherit;" class="example-card ">
		
		<div class="image-container">
			<img src="./assets/TANGEDCO-Logo.jpg" class="card-image">
		</div>
		<br>
		<mat-card-title style="color: brown; text-align: center;">
			RENEWABLE ENERGY NAME TRANSFER APPLICATION
		</mat-card-title>
		<div *ngIf="!isdfcuser">
		<mat-card-content style="width: 100%;">
	
            
            <div style="margin-left: 38%;">

				<mat-form-field class="ml-xs mr-xs" fxFlex.gt-sm="20%"  >
					<input (keydown)="numberFormat($event)" type="text"  onKeyPress="if(this.value.length==12) return false;" matInput placeholder="Service No" [(ngModel)]="mCompServNumber" readonly>
                  </mat-form-field>
                
                
				  
            </div>
			<div  *ngIf="edcloggedin && ApplicationDetails.applStatus=='SUBMITTED'" style="margin-left: 38%;">
                
				  <div >
					<input
					type="file"
					id="fileInput"
					(change)="selectnoc($event)"
					name="fileInput"
				  /><button [disabled]="this.isfileSelected"
					mat-raised-button 
					color="primary"

					(click)="uploadnoc()"
				  >Upload Noc</button></div>
            
            </div>
			
        </mat-card-content>
    
	
	 <mat-tab-group class=".page-container">
		
		<mat-tab *ngIf="edcloggedin || ncesloggedin" label="DETAILS"> 
			<ng-template mat-tab-label>
				<mat-icon class="example-tab-icon">dynamic_form</mat-icon>
				Application Details
			  </ng-template>
			 
			
				  <div class="content-box">
				  <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-card-title>
                        APPLICATION DETAILS
                   </mat-card-title>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="start center" style="align-items: center;">
					<mat-form-field class="ml-xs mr-xs" style="width: 25%;">
						<input  matInput placeholder="NEW NAME" [(ngModel)]='ApplicationDetails.serviceNewName' readonly>
					  </mat-form-field>
			
                      <mat-form-field class="ml-xs mr-xs" style="width: 25%;">
						<mat-select  style="width: 100%;" placeholder="FLOWTYPE" [(ngModel)]='ApplicationDetails.applFlowType' [disabled]="true" >
							<mat-option *ngFor="let flow of FlowtypeList" [value]="flow.code">
								 {{flow.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field class="ml-xs mr-xs" style="width: 25%;">
						<mat-select  style="width: 100%;" placeholder="SCHEME" [(ngModel)]='ApplicationDetails.applScheme' [disabled]="true">
							<mat-option *ngFor="let Scheme of SchemeType" [value]="Scheme.code">
								 {{Scheme.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>
                </div> 
			</div>
				<div class="content-box">
				<div fxLayout="row" fxLayoutAlign="start center">
                    <mat-card-title>
                       NEW GENERATOR DETAILS
                   </mat-card-title>
                  </div>
                  <div>
					<!-- <mat-form-field>
						
						<input matInput [(ngModel)]='newgendetails.contactFullName'>
					  </mat-form-field>
					  <mat-form-field>
						
						<input matInput>
					  </mat-form-field>
					  <mat-form-field>
						
						<input matInput>
					  </mat-form-field> -->
					  <mat-chip-list
					  class="example-chip"
					  cdkDropList 
					  cdkDropListOrientation="horizontal"
					  (cdkDropListDropped)="drop($event)">
					 
					  <mat-chip class="example-box" cdkDrag >
					   <strong>Name: </strong>{{newgendetails.contactFullName}}
					 </mat-chip>
					 <mat-chip class="example-box" cdkDrag>
					   <strong>Designation :</strong>{{newgendetails.contactDesignation}}
					 </mat-chip>
					 <mat-chip class="example-box" cdkDrag >
						<strong>Mobile No: </strong>{{newgendetails.contactPhoneNo}}
					  </mat-chip>
					  <mat-chip class="example-box" cdkDrag >
						<strong>Email: </strong>{{newgendetails.contactEmail}}
					  </mat-chip>
					
					  
					  <mat-chip class="example-box" cdkDrag >
						<strong>GST NO: </strong>{{newgendetails.gst}}
					  </mat-chip>
					  <mat-chip class="example-box" cdkDrag >
						<strong>PAN NO: </strong>{{newgendetails.pan}}
					  </mat-chip>
					  <mat-chip class="example-box" cdkDrag >
						<strong>TAN NO: </strong>{{newgendetails.tan}}
					  </mat-chip>
					  <mat-chip class="example-box" cdkDrag >
						<strong>CIN NO: </strong>{{newgendetails.cin}}
					  </mat-chip>
					</mat-chip-list>

                </div> 
			</div>
			<div class="mat-elevation-z8" >
				<mat-card-title>
					EXSISTING GENERATOR DETAILS
				</mat-card-title>
				<mat-card-content>
				<div fxLayout="row" fxLayoutAlign="start center">
			<mat-chip-list
               class="example-chip"
               cdkDropList 
               cdkDropListOrientation="horizontal"
               (cdkDropListDropped)="drop($event)" >
			  
			   <mat-chip class="example-box" cdkDrag>
				<strong>Company Name :</strong>
                {{ApplicationDetails.serviceExsitingName}}
              </mat-chip>
			   <mat-chip class="example-box" cdkDrag >
				<strong>Service No: </strong>{{ApplicationDetails.serviceNo}}
			  </mat-chip>
			  <mat-chip class="example-box" cdkDrag>
				<strong>Category :</strong>
				{{
				  ApplicationDetails.flowtype === 'STB' ? 'SaleToBoard'
				  : (ApplicationDetails.flowtype === 'IS-CAPTIVE' ? 'Captive'
					: (ApplicationDetails.flowtype === 'THIRD-PARTY' ? 'ThirdParty' : ''))
				}}
			  </mat-chip>
			  
			  <mat-chip class="example-box" cdkDrag >
				<strong>RE Type :</strong>
                {{ApplicationDetails.fuelTypeCode}}
              </mat-chip>
             <mat-chip class="example-box" cdkDrag>
				<strong>Scheme Type :</strong>
				{{ ApplicationDetails.isRec === 'Y' ? 'REC' : (ApplicationDetails.isRec === 'N' ? 'NON-REC' : '') }}
              </mat-chip>
			  <mat-chip class="example-box" cdkDragcdkDrag >
				<strong> Date Of Commissioning :</strong>
                {{ApplicationDetails.dateOfCommission}}
			</mat-chip>
			<mat-chip class="example-box" cdkDragcdkDrag >
			    <strong> Injection Voltage:</strong>
                {{ApplicationDetails.injectionVoltage}}
			</mat-chip>
			<mat-chip class="example-box" cdkDragcdkDrag >
				<strong> Name Of The Substation :</strong>
                {{ApplicationDetails.substationName}}
			</mat-chip>
			  
			  <mat-chip class="example-box" cdkDrag>
				<strong>Capacity :</strong>
                {{ApplicationDetails.capacity}}&nbsp;M/w
              </mat-chip>
			  <mat-chip class="example-box" cdkDrag>
				<strong>Agreement Valid Upto:</strong>
                {{ApplicationDetails.aggrementValidityDate}}
              </mat-chip>
			  
              </mat-chip-list>
			  
				  </div>
				
               
			</mat-card-content>
				
 </div>


	</mat-tab>


	<mat-tab *ngIf="edcloggedin || ncesloggedin" label="BUYER DETAILS" style="background:  inherit;" > 
		<ng-template mat-tab-label>
			<mat-icon class="example-tab-icon">description</mat-icon>
			Buyer Details
		  </ng-template>
		<mat-card-content >
			<div>
				
				<mat-card style= "background: inherit;">
					<mat-card-title >
						<Strong >Quantum Allocation for HT User</Strong>
					</mat-card-title>
					<mat-card-content > 
						<ngx-datatable tabindex="index" [rows]="gc.captiveQuantumAllocation" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="0"
							[rowHeight]="'auto'" >
				
				
							<ngx-datatable-column name="Distribution Circle" style="width: 20%;">
				
								<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
									{{row.buyerOrgId}} 
								</ng-template>
							</ngx-datatable-column>
				
				
							<ngx-datatable-column name="HT Service No" style="column-width: 20%;">
				
								<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
									{{row.buyerCompServiceNumber}}
								</ng-template>
							</ngx-datatable-column>
				
						   <ngx-datatable-column name="Captive CompanyName" style="width: 20%;">
								<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
									{{row.captiveCompanyName}}
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column name="Shared Percentage" style="width: 20%;">
								<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
									{{row.sharePercentage}}
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column name="Quantum Allocation in MW" style="width: 20%;">
								<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
									{{row.quantum}}
								</ng-template>
							</ngx-datatable-column>
				
						  <!--  <ngx-datatable-column name="Injection Voltage">
								<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
									{{row.injectionVoltageName}}
								</ng-template>
							</ngx-datatable-column> -->
				
							<ngx-datatable-column name="Drawal Voltage" style="width: 20%;">
							 <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
									{{row.drawalVoltageName }}
								</ng-template>
							</ngx-datatable-column>
						</ngx-datatable>
					</mat-card-content> 
					</mat-card>

			</div>
			
		</mat-card-content>
	</mat-tab>


		
		
		<mat-tab  *ngIf="edcloggedin || ncesloggedin" label="FILE UPLOAD"> 
			<ng-template mat-tab-label>
				<mat-icon class="example-tab-icon">drive_folder_upload</mat-icon>
				File Upload
			  </ng-template>
			<div>
				<mat-list>
					<div mat-subheader>Upload following files here</div>
					<mat-list-item *ngFor="let folder of folders"  class="listborder">
						<ng-container *ngIf="folder.isUploaded === 'true'"> 
					  <div  matListItemLine style="width: 80%;font-size: x-large;
					  font-family: serif;">{{folder.docName}}</div>
					  
					  

					  <div  matListItemLine style="font-size: x-large;
					  font-family: serif;"><p>Uploaded</p>
				      </div>
					 
					  
					  <div matListItemLine style="width: 20%;" >
					  
					  <button style="margin-left: 5%;color: green;" mat-mini-fab  aria-label="Example icon button with a menu icon">
						<mat-icon>check_circle</mat-icon>
					  </button>
					  <button style="margin-left: 5%;" mat-mini-fab color="primary"  (click)="downloadedoc(folder)" aria-label="Example icon button with a menu icon">
						<mat-icon>preview</mat-icon>
					  </button>
					
					 
					</div>
				</ng-container >
					</mat-list-item>
					
				  </mat-list>
				  <mat-card-actions>
					<mat-form-field *ngIf="enableQuery" style="width: 90%;">
						<textarea matInput placeholder="Enter Query"  [(ngModel)]='ApplicationDetails.applRemarks'></textarea>
				</mat-form-field>
			</mat-card-actions>
				  <mat-card-actions *ngIf= "ncesloggedin"style="margin-right: 62%; width: 100%;">
                    <button mat-raised-button color="primary" class="primary" [disabled]="disableApproval" (click)="ncesapprove()">APPROVE</button>
					<button mat-raised-button color="primary" class="primary" [disabled]="disablePayment" (click)="RasiePayment()">RAISE PAYMENT</button>
					
					<button *ngIf="!enableQuery" mat-raised-button color="primary" class="primary" (click)="enterRemarks()">RETURN APPICATION</button>
					
					<button *ngIf="enableQuery"  mat-raised-button color="primary" class="primary" (click)="saveRemarks()"> SAVE & RETURN</button>
				</mat-card-actions>
				
		
				<!-- <mat-list>
					<div mat-subheader>Files uploaded</div>
					<mat-list-item *ngFor="let folder of Uplodedfolders" class="listborder">
					  
					  <div matListItemLine style="width: 50%;">{{folder.docName}}</div>
					  
					  <div matListItemLine style="margin-right: 10%;">
						<button mat-raised-button color="primary" class="primary"  (click)="downloadedoc(folder)">DOWNLOAD</button>
					</div>
					<div matListItemLine>	
					<button mat-raised-button color="primary" class="primary"(click)="fileReset(folder)"[disabled]="disableControls">RESET</button>
					</div>
					
					 
					</mat-list-item>
					
				  </mat-list> -->
			</div>
			  
				</mat-tab>
				<mat-tab label="STATUS"> 
					<ng-template mat-tab-label>
						<mat-icon class="example-tab-icon">hourglass_empty</mat-icon>
						Status Of Your Application
					  </ng-template><br>
					  <div class="progress-tab" id="progress-tab">
						<ng-container *ngFor="let step of steps; let i = index">
						  <div class="step" [class.active]="step.active">
							{{ step.number }}
						  </div>
						  <div class="arrow" *ngIf="i < steps.length - 1"></div>
						</ng-container>
					  </div>
						  <br>
					  <table id="table" style="float: center; width: 80%; border-collapse: collapse;">
						<tr>
						  <th style="text-align: center; border: 1px solid black;">S.NO</th>
						  <th style="text-align: center; border: 1px solid black;width: 30%;">STATUS</th>
						  <th style="text-align: center; border: 1px solid black;">DATE</th>
						  <!-- <th style="text-align: center; border: 1px solid black;">REMARKS</th> -->
						</tr>
						<tr *ngFor="let step of steps; let i = index">
						  <td style="text-align: center; border: 1px solid black;">{{ step.number }}</td>
						  <td style="text-align: center; border: 1px solid black;">{{ step.title }}</td>
						  <td style="text-align: center; border: 1px solid black;">{{ step.StatusDate | date:'dd/MM/yyyy HH:mm:ss' }}</td>
						  <!-- <td style="text-align: center; border: 1px solid black;">{{ step.Remarks }}</td> -->
						</tr>
					  </table>
					  
					  <!-- 
						
					  
					
					  
					  <div >
						<mat-list style="border: 1px solid #ccc; padding: 10px;" *ngFor="let step of steps; let i = index">
						  <mat-list-item>
							{{ step.number }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ step.title }}<br>
						
							Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ step.StatusDate | date:'dd/MM/yyyy HH:mm:ss' }}<br>
							Remarks:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ step.Remarks }}
						  </mat-list-item>
						</mat-list>
					  </div>				   -->


						</mat-tab> 
						<mat-tab *ngIf="ncesloggedin"  label="PAYMENT"> 
							<ng-template mat-tab-label>
								<mat-icon class="example-tab-icon">payment</mat-icon>
								Payment
							  </ng-template><br>
							  <table id="table" style="float: center; border:1;width: 70%;">     
								<tr>
									<th style="text-align: center ;">S.NO</th>
									<th style="text-align: center;">DISCRIPTION</th>
									<th style="text-align: right;">A/C HEAD</th>
									<th style="text-align: right;">AMOUNT(RS)</th>					
								</tr>
								<tr *ngFor="let report of ApplicationDetails.billPayment;let i=index;" >  
									<td style="text-align: center ;">{{i+1}}</td> 
									<td style="text-align: center;">{{report.chargeDesc}}</td>
									<td style="text-align: right;">
										<mat-form-field class="ml-xs mr-xs">
										  <input
											style="text-align: right;"
											matInput
											placeholder="Enter Amount"
											[(ngModel)]="report.acHeadCharge"
											type="number"
											(input)="updateModifiedReport(i, 'acHeadCharge', $event.target.value)"
										  >
										</mat-form-field>
									  </td>
									
									  <td style="text-align: right;">
										<mat-form-field class="ml-xs mr-xs">
										  <input
											style="text-align: right;"
											matInput
											placeholder="Enter Amount"
											[(ngModel)]="report.chargeTotalAmount"
											(input)="updateModifiedReport(i, 'chargeTotalAmount', $event.target.value)"
										  >
										</mat-form-field>
									  </td>
									
								 <br>
								<tr>
									<td colspan="3" style="text-align: right;color: darkblue;"><b>Total:</b></td>
									<td style="text-align: right;color: darkblue;"><strong>{{ApplicationDetails.totalCharges}}</strong></td>
								</tr><tr >
									<td colspan="3" style="text-align: right;color: darkblue;"><b>Note :- After updating the amount please save here...</b></td>
									<td style="text-align: center;"><button mat-raised-button
									  style="background-color: cornflowerblue;"
									  class="primary"
									  (click)="SavePayment()"
									>
									  Save
									</button></td>
								  </tr>
								<br>
								<tr>
									<td colspan="3"></td>
										<td  style="text-align: center;color: blanchedalmond;">
											
											<button mat-raised-button style="background-color: cornflowerblue;" class="primary"(click)="DownloadPayment()"><mat-icon>cloud_download</mat-icon>DownloadRecipt</button>
										</td>
									</tr>
							</table>
								</mat-tab>


								<mat-tab *ngIf="ApplicationDetails.applStatus === 'PAYMENT RECEIVED' || 
                ApplicationDetails.applStatus === 'UNDER APPROVAL BY NCES-AEE' || 
                ApplicationDetails.applStatus === 'UNDER APPROVAL BY NCES-EE' || 
                ApplicationDetails.applStatus === 'UNDER APPROVAL BY NCES-SE' || 
                ApplicationDetails.applStatus === 'UNDER APPROVAL BY NCES-CE'">
  <ng-template mat-tab-label>
    <mat-icon class="example-tab-icon">file_upload</mat-icon>
    Order Copy Upload
  </ng-template>
  <div class="flex-container">
    <ng-container>
      <div matListItemLine style="width: 30%; font-size: large; font-family: serif;margin-left: 5%;">Upload Order Copy</div>
    </ng-container>
    <ng-container *ngIf="ApplicationDetails.isordercopyuploaded!='Y'">
      <input
        type="file"
        id="fileInput"
        (change)="selectFileOrder($event)"
        name="fileInput"
      />
      <button mat-raised-button color="primary" style="margin-right: 2%;" (click)="OrderCopyupload()">Upload</button>
	  
	</ng-container>
	
    <ng-container *ngIf="ApplicationDetails.isordercopyuploaded=='Y'">
      <div matListItemLine style="font-size: large; font-family: serif;">
        <p>Uploaded</p>
      </div>
      <div class="actions"  style="margin-right: 10%;">
		<button mat-raised-button color="primary" class="primary" style="margin-right: 5%;" [disabled]="disableApproval" (click)="ncesapprove()">APPROVE</button>
        <button style="color: green;" mat-mini-fab aria-label="Check Circle">
          <mat-icon class="mat-icon-custom-size">check_circle</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="downloadOrderCopy('DOCOA16')" aria-label="Preview">
          <mat-icon>preview</mat-icon>
        </button>
        <button mat-mini-fab color="primary" [disabled]="disableApproval"(click)="ResetOrderCopy()" aria-label="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </ng-container>
  </div><br>
  
</mat-tab>
<mat-tab *ngIf="enableordercopyupload || ApplicationDetails.applStatus === 'APPROVAL ISSUED'">
  <ng-template mat-tab-label>
    <mat-icon class="example-tab-icon">file_upload</mat-icon>
    Upload Approval
  </ng-template>
  <div class="flex-container">
    <ng-container>
      <div matListItemLine style="width: 30%; font-size: large; font-family: serif;margin-left: 5%;">Upload Approval Order</div>
    </ng-container>
    <ng-container *ngIf="ApplicationDetails.applStatus === 'UNDER EE APPROVE FOR ORDER ISSUE'">
      <input
        type="file"
        id="fileInput"
        (change)="selectFileOrder($event)"
        name="fileInput"
      />
      
	</ng-container>
    <ng-container *ngIf="ApplicationDetails.applStatus === 'APPROVAL ISSUED'">
      <div matListItemLine style="font-size: large; font-family: serif;">
        <p>Uploaded</p>
      </div>
      <div class="actions"  style="margin-right: 10%;">
        <button style="color: green;" mat-mini-fab aria-label="Check Circle">
          <mat-icon class="mat-icon-custom-size">check_circle</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="downloadOrderCopy('DOCOA17')" aria-label="Preview">
          <mat-icon>preview</mat-icon>
        </button>
        <!-- <button mat-mini-fab color="primary" (click)="ResetOrderCopy()" aria-label="Delete">
          <mat-icon>delete</mat-icon>
        </button> -->
      </div>
    </ng-container>
  </div><br>
  <div class="flex-container">
    <ng-container>
      <div matListItemLine style="width: 30%; font-size: large; font-family: serif;margin-left: 5%;">Upload Dfc Recipt</div>
    </ng-container>
    <ng-container *ngIf="ApplicationDetails.applStatus === 'UNDER EE APPROVE FOR ORDER ISSUE'">
      <input
        type="file"
        id="fileInput"
        (change)="selectDfcOrder($event)"
        name="fileInput"
      />
      
	</ng-container>
    <ng-container *ngIf="ApplicationDetails.applStatus === 'APPROVAL ISSUED'">
      <div matListItemLine style="font-size: large; font-family: serif;">
        <p>Uploaded</p>
      </div>
      <div class="actions"  style="margin-right: 10%;">
        <button style="color: green;" mat-mini-fab aria-label="Check Circle">
          <mat-icon class="mat-icon-custom-size">check_circle</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="downloadOrderCopy('DOCOA18')" aria-label="Preview">
          <mat-icon>preview</mat-icon>
        </button>
        <!-- <button mat-mini-fab color="primary" (click)="ResetOrderCopy()" aria-label="Delete">
          <mat-icon>delete</mat-icon>
        </button> -->
      </div>
	  
    </ng-container>
	
  </div><br>
  <div>
	<button mat-raised-button color="primary" [disabled]="ApplicationDetails.applStatus === 'APPROVAL ISSUED'" style="margin-left: 72%;" (click)="OrderCopyuploadApproval()">Upload & Approve</button>
  </div>
</mat-tab>

								  


		</mat-tab-group>
	</div>
	<div *ngIf="isdfcuser" class="content-box">
		<div fxLayout="row" fxLayoutAlign="start center">
			<mat-card-title>
			   NEW GENERATOR DETAILS
		   </mat-card-title>
		  </div>
		  <div>
			<!-- <mat-form-field>
				
				<input matInput [(ngModel)]='newgendetails.contactFullName'>
			  </mat-form-field>
			  <mat-form-field>
				
				<input matInput>
			  </mat-form-field>
			  <mat-form-field>
				
				<input matInput>
			  </mat-form-field> -->
			  <mat-chip-list
			  class="example-chip"
			  cdkDropList 
			  cdkDropListOrientation="horizontal"
			  (cdkDropListDropped)="drop($event)">
			 
			  <mat-chip class="example-box" cdkDrag >
			   <strong>Name: </strong>{{newgendetails.contactFullName}}
			 </mat-chip>
			 <mat-chip class="example-box" cdkDrag>
			   <strong>Designation :</strong>{{newgendetails.contactDesignation}}
			 </mat-chip>
			 <mat-chip class="example-box" cdkDrag >
				<strong>Mobile No: </strong>{{newgendetails.contactPhoneNo}}
			  </mat-chip>
			  <mat-chip class="example-box" cdkDrag >
				<strong>Email: </strong>{{newgendetails.contactEmail}}
			  </mat-chip>
			
			  
			  <mat-chip class="example-box" cdkDrag >
				<strong>GST NO: </strong>{{newgendetails.gst}}
			  </mat-chip>
			  <mat-chip class="example-box" cdkDrag >
				<strong>PAN NO: </strong>{{newgendetails.pan}}
			  </mat-chip>
			  <mat-chip class="example-box" cdkDrag >
				<strong>TAN NO: </strong>{{newgendetails.tan}}
			  </mat-chip>
			  <mat-chip class="example-box" cdkDrag >
				<strong>CIN NO: </strong>{{newgendetails.cin}}
			  </mat-chip>
			 
			  <mat-chip class="example-box" cdkDrag >
				<strong>BANK ACCOUNT NO: </strong>{{newgendetails.bankAccountNO}}
			  </mat-chip>
			  <mat-chip class="example-box" cdkDrag >
				<strong>BANK IFSC CODE: </strong>{{newgendetails.bankIfscCode}}
			  </mat-chip>
			  <mat-chip class="example-box" cdkDrag >
				<strong>BANK NAME: </strong>{{newgendetails.bankName}}
			  </mat-chip>
			  <mat-chip class="example-box" cdkDrag >
				<strong>COMPANT TYPE: </strong>{{newgendetails.companyTypeCode}}
			  </mat-chip>
			  <mat-chip class="example-box" cdkDrag >
				<strong>OFFICE ADDRESS: </strong>{{newgendetails.regOfficeAddr}}
			  </mat-chip>

			</mat-chip-list>
			<mat-card-actions>
				<button mat-raised-button style="background-color: cornflowerblue;" class="primary"(click)="downloadpayedReciept()"><mat-icon>cloud_download</mat-icon>DownloadPayedBill</button>
			</mat-card-actions>
		</div> 
	</div>
	</mat-card>

</div>
</body>
